/*
* {
    outline: 1px dashed lime;
}
*/


.container {
    position: relative;
    flex-direction: column;
    transform: translate(-50%, -50%);
}

.btn {
    width: 8rem;
    height: 8rem;
    margin: 2rem;
    font-size: 1.5rem;
    font-weight: 500;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 50%;
}

.btnFinishJob {
    width: 20rem;
    height: 6rem;
    margin-top: 1rem;
    border-radius: 12px;
    border-width: 10px;
}

.btn:hover {
    background-color: #e8e8e8;
    cursor: pointer;
    transform: scale(1.01);
}

.btns {
    position: absolute;
    top: 16vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transform: translate(-50%, -50%);
}

.time {
    position: absolute;
    top: -25vh;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    font-weight: 100;
    text-shadow: 2px 4px 6px rgba(255, 255, 255, 0.2);
}



.row {
    display: flex;
    flex-direction: row;
}